.lazyload-img {
    display: inline-block;
    max-width: 100%;
}

.lazyload-img > div {
    position: relative;
    display: block;
    width: 100%;
    background: #999 no-repeat center center;
}

.lazyload-img > div > img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    will-change: transform;
    /* 下面会适当加快图片的渲染，但由于手机浏览器渲染问题，会导致重复渲染（不请求）
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    */
}

.ie7 .lazyload-img > div > img {
    height: auto;
}
